@using ExampleProject.Models
@model IEnumerable<ExampleProject.Models.Project>  

@{
    Layout = null;
}
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Number
        </th>
        <th>
            Customer
        </th>
        <th>
            Status
        </th>
        <th>
            StartDate
        </th>
        <th>
            EndDate
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a data-toggle="modal" data-target="#exampleModal" data-whatever="@item.Id">Edit</a> |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>